USE [master]
GO
/****** Object:  Database [abhinav_test]    Script Date: 5/10/2019 3:49:05 PM ******/
CREATE DATABASE [abhinav_test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'abhinav_test', FILENAME = N'D:\SQL Server 2014\MSSQL12.CSSQLEXPRESS14\MSSQL\DATA\abhinav_test.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'abhinav_test_log', FILENAME = N'D:\SQL Server 2014\MSSQL12.CSSQLEXPRESS14\MSSQL\DATA\abhinav_test_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [abhinav_test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [abhinav_test]
GO
/****** Object:  User [abhinav]    Script Date: 5/10/2019 3:49:05 PM ******/
CREATE USER [abhinav] FOR LOGIN [abhinav] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [abhinav]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 5/10/2019 3:49:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](50) NULL,
	[ItemQuantity] [int] NOT NULL,
	[ItemPrice] [int] NULL,
	[ItemDescription] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orderdb]    Script Date: 5/10/2019 3:49:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orderdb](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderNo] [int] NULL,
	[TotalPrice] [int] NOT NULL,
	[TotalQuantity] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[CustomerId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 5/10/2019 3:49:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[ItemQuantity] [int] NOT NULL,
	[ItemPrice] [int] NOT NULL,
	[ItemTotal] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCustomer]    Script Date: 5/10/2019 3:49:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCustomer](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](100) NULL,
	[Address] [nvarchar](100) NULL,
	[AlternateNumber] [nvarchar](100) NULL,
	[ImagePath] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Item] ON 

INSERT [dbo].[Item] ([Id], [ItemName], [ItemQuantity], [ItemPrice], [ItemDescription]) VALUES (29, N'Fan', 343, 32234, N'Airy fan')
INSERT [dbo].[Item] ([Id], [ItemName], [ItemQuantity], [ItemPrice], [ItemDescription]) VALUES (30, N'ehe', 343, 32234, N'gssgsan')
INSERT [dbo].[Item] ([Id], [ItemName], [ItemQuantity], [ItemPrice], [ItemDescription]) VALUES (32, N'Chair', 343, 32234, N'Very Comfortable')
SET IDENTITY_INSERT [dbo].[Item] OFF
SET IDENTITY_INSERT [dbo].[Orderdb] ON 

INSERT [dbo].[Orderdb] ([Id], [OrderNo], [TotalPrice], [TotalQuantity], [OrderDate], [CustomerId]) VALUES (3, 0, 300, 5, CAST(N'2017-03-12' AS Date), 2)
INSERT [dbo].[Orderdb] ([Id], [OrderNo], [TotalPrice], [TotalQuantity], [OrderDate], [CustomerId]) VALUES (4, 0, 300, 5, CAST(N'2017-03-12' AS Date), 2)
INSERT [dbo].[Orderdb] ([Id], [OrderNo], [TotalPrice], [TotalQuantity], [OrderDate], [CustomerId]) VALUES (17, NULL, 11056262, 343, CAST(N'2019-04-23' AS Date), 29)
SET IDENTITY_INSERT [dbo].[Orderdb] OFF
SET IDENTITY_INSERT [dbo].[OrderItem] ON 

INSERT [dbo].[OrderItem] ([Id], [OrderId], [ItemId], [ItemQuantity], [ItemPrice], [ItemTotal]) VALUES (12, 40, 44, 1, 200, 200)
INSERT [dbo].[OrderItem] ([Id], [OrderId], [ItemId], [ItemQuantity], [ItemPrice], [ItemTotal]) VALUES (13, 42, 44, 1, 200, 200)
INSERT [dbo].[OrderItem] ([Id], [OrderId], [ItemId], [ItemQuantity], [ItemPrice], [ItemTotal]) VALUES (14, 42, 43, 3, 400, 1200)
SET IDENTITY_INSERT [dbo].[OrderItem] OFF
SET IDENTITY_INSERT [dbo].[tblCustomer] ON 

SET IDENTITY_INSERT [dbo].[tblCustomer] OFF
ALTER TABLE [dbo].[Orderdb]  WITH CHECK ADD  CONSTRAINT [Orderdb_CustomerId_FK] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[tblCustomer] ([CustomerId])
GO
ALTER TABLE [dbo].[Orderdb] CHECK CONSTRAINT [Orderdb_CustomerId_FK]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Item] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([Id])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Item]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Orderdb] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orderdb] ([Id])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Orderdb]
GO
USE [master]
GO
